:root {
    --foreground-color: #C0D1E0;
    --background-color: #0C0D1E;
    --log-trace-color: #666;
    --log-debug-color: #636;
    --log-info-color: #36f;
    --log-warn-color: #cc3;
    --log-error-color: #c66;
    --log-marker-opacity: 50%;
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3em 1fr 7em;
    grid-template-areas:
        "controls editor"
        "canvas   editor"
        "log      editor";
}

#controls {
    grid-area: controls;
    border-bottom: 2px solid var(--foreground-color);
}

#editor {
    grid-area: editor;
    min-width: 720px;
    max-width: 50vw;
    border-left: 2px solid var(--foreground-color);
}

#canvas {
    grid-area: canvas;
    width: 100%;
    height: 100%;
}

#log {
    grid-area: log;
    overflow: scroll;
    color: #ccc;
    border-top: 2px solid var(--foreground-color);
    font-family: monospace;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#log>li {
    padding: 0 0 0 0.5em;
}

#log>li.trace {
    color: var(--log-trace-color);
    border-left: 1em solid color-mix(in srgb, var(--log-trace-color) var(--log-marker-opacity), transparent);
}

#log>li.debug {
    color: var(--log-debug-color);
    border-left: 1em solid color-mix(in srgb, var(--log-debug-color) var(--log-marker-opacity), transparent);
}

#log>li.info {
    color: var(--log-info-color);
    border-left: 1em solid color-mix(in srgb, var(--log-info-color) var(--log-marker-opacity), transparent);
}

#log>li.warn {
    color: var(--log-warn-color);
    border-left: 1em solid color-mix(in srgb, var(--log-warn-color) var(--log-marker-opacity), transparent);
}

#log>li.error {
    color: var(--log-error-color);
    border-left: 1em solid color-mix(in srgb, var(--log-error-color) var(--log-marker-opacity), transparent);
}

/* #canvas { */
/* This allows the flexbox to grow to max size, this is needed for WebGPU */
/* flex: 1; */
/* This forces CSS to ignore the width/height of the canvas, this is needed for WebGL */
/*contain: size;
/* } */